{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "Android >= 4.0",
                        "ios >= 6"
                    ]
                },
                "debug": false,
                "include": [],
                "useBuiltIns": false
            }
        ],
        "stage-2",
        "react"
    ]
}